<input *ngIf="QFlag" class="input-Q" [(ngModel)]="QString" placeholder="Команды, ответившие правильно">
<button *ngIf="QFlag" (click)="QAnswerApl()">Внести</button>
<button *ngIf="QFlag" (click)="QAllAdd()">Внести всех</button>
<button *ngIf="QFlag" (click)="QAllDel()">Удалить всех</button>
<div id="START_PAGE">
  <div *ngIf="isNewGame">
    <p >Кол-во вопросов</p>
    <input [(ngModel)]="QuestCount" placeholder="name">
    <button  (click)="CreateGame()">Построить</button>
  </div>
</div>

<p>{{Result}}</p>